<div id="smugmug-connecting"></div>
<div id="smugmug-auth" style="display: none">
    <a href="#">Close</a>
    <iframe src="<%= src %>" onload="$('#smugmug-connecting').hide(); $('#smugmug-auth').show();"></iframe>
</div>